@import "./componentes/aside";
@import "./componentes/footer";
@import "./componentes/mainNosotros";
@import "./componentes/mainsucursal";
@import "./componentes/mainproductos";
@import "./componentes/maincontacto";
@import "./componentes/mainindex";
@import "./componentes/header";
@import "./componentes/reset";



@font-face {
    font-family: "Estilo Lib";
    src: url("./../fonts/Anton-Regular.ttf");
}
p, h1, h2, h3 {
    font-family: "Estilo lib", Arial, helvetica, sans-serif;
}

h1, h2, h3 {
    color: rgb(44, 47, 51);
}

p {
    color: rgb(4, 31, 31);
}








/*
@media screen and (min-width: 1080px) {
    #grilla {
        grid-template-rows:130px 5fr 3fr 80px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "nav productos productos productos"
        "footer footer footer footer footer"
    }
}
*///
/*
.divproducto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
    *///
