@import "./componentes/aside";
@import "./componentes/footer";
@import "./componentes/mainNosotros";
@import "./componentes/mainsucursal";
@import "./componentes/mainproductos";
@import "./componentes/maincontacto";
@import "./componentes/mainindex";
@import "./componentes/header";



@font-face {
    font-family: "Estilo Lib";
    src: url("./../fonts/Anton-Regular.ttf");
}
p, h1, h2, h3 {
    font-family: "Estilo lib", Arial, helvetica, sans-serif;
}

h1, h2, h3 {
    color: rgb(44, 47, 51);
}

/*
.divproducto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
    *///

.logoprincipal {
    width: 200px;
    height: 100px;
    margin-left: 400px;


}

p {
    color: rgb(4, 31, 31);
}





body {
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(../../multimedia/mailoticlibreria.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
}


/*
@media screen and (min-width: 1080px) {
    #grilla {
        grid-template-rows:130px 5fr 3fr 80px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "nav productos productos productos"
        "footer footer footer footer footer"
    }
}
*///

@media(max-width:991px) {
    .aside {
        padding: 30px;
    }
}
@media(max-width: 991px) {
    .footer {
        padding: 30px;
        width: 100%;
        height: 100vh;
    }
}