footer {
    background-image: linear-gradient(to left, orange, skyblue);
    display: flow-root;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 30px;
}
.btn {
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.2);
    transition: 3s;
}
.logofooterwhat {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.logofooterwhat:hover {
    transform: scale(1.2);
    transition: 3s;
}
@media(max-width: 991px) {
    .footer {
        padding: 30px;
        width: 100%;
        height: 100vh;
    }
}