.navbar {
    background-color: rgb(236, 216, 178);
}
.titulo {
    font-size: 25px;
    text-align: center;
    margin-top: 15px; 
}
.logonav {
    width: 80px;
    border-radius: 15px;
    cursor:pointer;
}