@font-face {
    font-family: "Estilo Lib";
    src: url("./../fonts/Anton-Regular.ttf");
}
p, h1, h2, h3 {
    font-family: "Estilo lib", Arial, helvetica, sans-serif;
}

h1, h2, h3 {
    color: rgb(44, 47, 51);
}


section {
    background-color: hwb(198 70% 2%);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;

}
.logoprincipal {
    width: 200px;
    height: 100px;
    margin-left: 400px;


}
.encabezado {
    width: 100%;
    height: 70px;
    
}
.flexnav {
    justify-content: space-evenly;

}

p {
    color: rgb(4, 31, 31);
}
aside {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    background-color: aquamarine;
    width: 100%;
    height: 150px;
    margin: 10px;
}
.tiktokimg {
    width: 60px;
    height: 70px;
    
}
.instagramimg {
    width: 80px;
    height: 80px;
}
.facebookimg {
    width: 150px;
    height: 150px;
}

.titleaside {
    text-align: center;
}
footer {
    background-color: rgba(85, 123, 194, 0.699);
    display: flow-root;
    justify-content: space-evenly;
    width: 100%;
    height: 240px;
}
header h1 {
    background-color: rgba(175, 245, 239, 0.877);
    text-align: center;
    display: 100%;

}

.logoredes {
    width: 100px;
    height: 100px;
}
.logotiktokins {
    width: 60px;
    height: 60px;
}
.productos {
    width: 100px;
    height: 100px;
}
.logofooterwhat {
    width: 100px;
    height: 100px;
}
.opciones {
    background-color: rgb(231, 187, 105);
    display: flex;
    justify-content: space-evenly;

}
body {
    background-image: url(../../multimedia/mailoticlibreria.jpg);
    background-position: center;
}

ul {
    list-style-type: none;
}
@media screen and (min-width: 1080px) {
    #grilla {
        grid-template-rows:130px 5fr 3fr 80px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "nav productos productos productos"
        "footer footer footer footer footer"
    }
}