@font-face {
    font-family: "Estilo Lib";
    src: url("./../fonts/Anton-Regular.ttf");
}
p, h1, h2, h3 {
    font-family: "Estilo lib", Arial, helvetica, sans-serif;
}

h1, h2, h3 {
    color: rgb(44, 47, 51);
}

section {
    background-color: rgba(152, 215, 241, 0.795);
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.logoprincipal {
    width: 200px;
    height: 100px;
    margin-left: 400px;


}
.encabezado {
    width: 100%;
    height: 70px;
    
}
.flexnav {
    justify-content: space-evenly;

}

p {
    color: rgb(4, 31, 31);
}
.asidestyle {
    background-color: rgba(112, 109, 253, 0.466);

}
.titleaside {
    text-align: center;
}
footer {
    background-color: rgba(85, 123, 194, 0.699);
    display: flow-root;
    justify-content: space-evenly;
    width: 100%;
    height: 240px;
}
header h1 {
    background-color: rgba(156, 248, 240, 0.877);
    text-align: center;
    display: 100%;

}
.navclass1 .navitem  {
    background-color: rgb(214, 134, 134);
    justify-content: space-evenly;
    
}

.logoredes {
    width: 100px;
    height: 100px;
}
.logotiktokins {
    width: 60px;
    height: 60px;
}
.productos {
    width: 100px;
    height: 100px;
}
.logofooterwhat {
    width: 100px;
    height: 100px;
}
.opciones {
    background-color: rgb(231, 187, 105);
    display: flex;
    justify-content: space-evenly;

}
.fondo, body {
    background-color: rgb(240, 205, 145);
}

ul {
    list-style-type: none;
}
@media screen and (min-width: 1080px) {
    #grilla {
        grid-template-rows:130px 5fr 3fr 80px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "nav productos productos productos"
        "footer footer footer footer footer"
    }
}