aside {
  background: linear-gradient(to right, orange, aqua);
  width: 100%;
  height: 25vh;
  margin: 10px;
  border-radius: 10px;
}

.tiktokimg {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.tiktokimg:hover {
  transform: scale(1.4);
  transition: 4s;
}

.instagramimg {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.instagramimg:hover {
  transform: scale(1.4);
  transition: 4s;
}

.facebookimg {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  cursor: pointer;
}

.facebookimg:hover {
  transform: scale(1.4);
  transition: 4s;
}

footer {
  background-image: linear-gradient(to left, orange, skyblue);
  display: flow-root;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 30px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.2);
  transition: 3s;
}

.logofooterwhat {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.logofooterwhat:hover {
  transform: scale(1.2);
  transition: 3s;
}

.nosotros-libreria {
  background: linear-gradient(to right, orange, rgb(230, 144, 144), skyblue);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nosotros-libreria h2 {
  font-weight: 400;
  margin-bottom: 60px;
}

.nosotros-libreria p {
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 25px;
}

.nosotros-libreria img {
  width: 80%;
  height: 200px;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
}

.nosotros-libreria img:hover {
  transform: scale(1.1);
  transition: 2s;
}

@font-face {
  font-family: "Estilo Lib";
  src: url("./../fonts/Anton-Regular.ttf");
}
p, h1, h2, h3 {
  font-family: "Estilo lib", Arial, helvetica, sans-serif;
}

h1, h2, h3 {
  color: rgb(44, 47, 51);
}

.box-index {
  background: linear-gradient(to right, orange, rgb(252, 175, 175), skyblue);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sucursal {
  background: linear-gradient(to right, orange, skyblue);
  width: 100%;
  height: 100vh;
  padding: 10px;
  text-align: center;
}

.box-sucursal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.text-sucursal {
  font-weight: 400;
  font-size: 25px;
}

.box-sucursal p {
  font-weight: 400;
  font-size: 25px;
}

.box-producto {
  background: linear-gradient(to right, rgb(255, 208, 0), rgb(228, 136, 136), skyblue);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
}

.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}

.card .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

/*
.divproducto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
    */
.box-contacto {
  background-image: linear-gradient(to bottom, orange, skyblue);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 340px;
}

.contacto-input {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contactotitle {
  color: #283629;
  font-size: 30px;
}

label {
  color: #283629;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

input, textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #EDFFF0;
  border: 2px solid #F0FAF1;
  color: #283629;
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #b5cab6;
}

.boton-contacto {
  font-size: 16px;
  color: #FFFFFF;
  border: 0;
  border-radius: 25px;
  background-color: #51D94C;
  box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
  cursor: pointer;
}

.boton-contacto:hover {
  background-color: #50E04B;
}

.logoprincipal {
  width: 200px;
  height: 100px;
  margin-left: 400px;
}

.encabezado {
  width: 100%;
  height: 70px;
}

.flexnav {
  justify-content: space-evenly;
}

p {
  color: rgb(4, 31, 31);
}

.titulo {
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}

.opciones {
  background-color: rgb(231, 187, 105);
  display: flex;
  justify-content: space-evenly;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-image: url(../../multimedia/mailoticlibreria.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
}

.logonav {
  width: 80px;
  border-radius: 15px;
  cursor: pointer;
}

.navbar {
  background-color: rgb(236, 216, 178);
}

ul {
  list-style-type: none;
}

/*
@media screen and (min-width: 1080px) {
    #grilla {
        grid-template-rows:130px 5fr 3fr 80px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "nav productos productos productos"
        "footer footer footer footer footer"
    }
}
*/
@media (max-width: 991px) {
  .box-contacto {
    padding: 30px;
  }
  form {
    padding: 50px 30px;
    width: 100%;
  }
  input {
    padding: 15px 10px;
  }
}
@media (max-width: 991px) {
  .aside {
    padding: 30px;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 30px;
    width: 100%;
    height: 100vh;
  }
}
@media (max-width: 991px) {
  .box-producto {
    padding: 30px;
  }
  .card {
    padding: 50px 30px;
    width: 100%;
  }
  .contenedor {
    padding: 15px 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
